.Contenedor-Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.Login{
    width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
    background: #6d44b8;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#Checkbox{
    display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.Label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.LabelI{
	color: #6d44b8;
	font-size: 30px;
	justify-content: center;
	display: flex;
	margin: 60px;
    margin-bottom: 40px;
    padding-top: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.Input{
	width: 60%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 0 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.btn-SL{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #37235c;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.btn-SL:hover{
	background: #23153d;
}

.Datos{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.Datos .Label{
	color: #573b8a;
	transform: scale(.6);
}


#Checkbox:checked ~ .Datos{
	transform: translateY(-500px);
}

#Checkbox:checked ~ .Datos .Label{
	transform: scale(1);	
}

#Checkbox:checked ~ .signup .Label{
	transform: scale(.6);
}
.error.hidden{
  visibility: hidden;
}
.error{
  width: 60%;
  padding: 6px 0;
  margin: auto;
  border-radius: 5px;
  background: #eee;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #d50048;
}

  